# Bulletproof .gcloudignore
.git/
.firebase/
.venv/
.node_modules_hidden/
node_modules/
**/node_modules/
**/.next/
**/dist/
**/target/
**/.cpcache/
**/.m2/
*.log
*.vsix
tmp/
**/.env
**/.env.*
**/.env.local
